<!-- Aquesta llista serà del tipus avatar -->

<ion-view title="Settings">
  <ion-content class="has-header">
  
  	<button class="button button-full button-stable" ng-click="modificaContrassenya()">
	  Canvia contrasenya
	</button>
	<button class="button button-full button-stable" ng-click="modificaEstat()">
	  Canvia estat
	</button>
	<button class="button button-full button-stable" ng-click="modificaAvatar()">
	  Canvia imatge perfil
	</button>
	<div>
		<p> {{infoImatge.nom}} </p>
	</div>

  </ion-content>
</ion-view>