<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


  <!-- Pets Tab -->
  <ion-tab title="Home" icon="icon ion-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>


  <!-- Adopt Tab -->
  <ion-tab title="Friends" icon="icon ion-heart" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>


  <!-- About Tab -->
  <ion-tab title="Account" icon="icon ion-gear-b" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="http" icon="icon ion-gear-b" href="#/tab/http">
    <ion-nav-view name="http"></ion-nav-view>
  </ion-tab>

  <ion-tab title="infinite" icon="icon ion-gear-b" href="#/tab/infinite">
    <ion-nav-view name="infinite"></ion-nav-view>
  </ion-tab>

  <ion-tab title="ubicacions" icon="icon ion-gear-b" href="#/tab/friend/0/ubicacions">
    <ion-nav-view name="ubicacions"></ion-nav-view>
  </ion-tab>

  <ion-tab title="accessos" icon="icon ion-gear-b" href="#/tab/friend/0/accessos">
    <ion-nav-view name="accessos"></ion-nav-view>
  </ion-tab>

  <ion-tab title="detallsUbicacio" icon="icon ion-gear-b" href="#/tab/friend/0/ubicacions/0">
    <ion-nav-view name="detallsUbicacio"></ion-nav-view>
  </ion-tab>

  <ion-tab title="perfil" icon="icon ion-person" href="#/tab/perfil">
    <ion-nav-view name="perfil"></ion-nav-view>
  </ion-tab>

  <ion-tab title="novaUbicacio" icon="icon ion-person" href="#/tab/novaUbicacio">
    <ion-nav-view name="novaUbicacio"></ion-nav-view>
  </ion-tab>



</ion-tabs>
