<!-- Llistat ubicacions d'un usuari determinat -->
<ion-view title="Ubicacions {{userName}}">
  <ion-content class="has-header">
  
    <ion-list>
    	<!-- Acabar de pensar com mostrar les dates -->
    <!--	<div ng-repeat="ubicacio in ubicacions | orderBy : ubicacio.data">
    		<div class="item item-divider">{{dia.data}}</div> -->
                                                <!-- Afegir id de ubicacio i passarlo, en comptes del 0 -->
    		
            <ion-item class="item" href=""
            ng-repeat="ubicacio in ubicacions">
    			{{ubicacio.lloc}}
    		<span class="item-note">
    			{{ubicacio.data}}
		    </span>
    		</ion-item>
    <!--	</div> -->
    </ion-list>
  </ion-content>
</ion-view>